/* Configurações reset básicas */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0px;
}
label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
}
textarea {
  resize: none;
  padding: 8px;
  width: 100%;
  margin-bottom: 16px;
}
/* Classes de componentes */
.container {
  max-width: 800px;
  margin: 50px auto 100px auto;
  padding: 0 20px;
}
.sub-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* Header */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.header li {
  display: block;
  padding: 10px 20px;
}
.header li a {
  position: relative;
}
.header li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: #000;
  border-radius: 8px;
  transition: width 0.3s ease;
  display: block;
}
.header a:hover::after {
  width: 100%;
}

/* Section perfil */
.perfil {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
}
.perfil img {
  border-radius: 50%;
  max-width: 250px;
}
.perfil h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 20px;
}
.perfil p {
  font-size: 1.2rem;
  line-height: 1.2;
}

/* Section formação */
.formacao-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.formacao-conhecimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
}

/* Section portifólio */
.portifolio-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}
.portifolio-content li {
  background-color: #fcfcfc;
  border-radius: 1rem;
  overflow: hidden;
  transition: ease 0.3s;
  cursor: pointer;
}
.portifolio-content li:hover {
  scale: 1.1;
}
.portifolio-content h3,
.portifolio-content p {
  padding: 5px 10px;
}
/* Contato */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
form .textarea {
  grid-column: 1/ -1;
}
.botao {
  grid-column: 1/-1;
  justify-self: end;
  display: block;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.botao:hover {
  background-color: #494949;
}
